<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<!--action속성 : form에 작성한 데이터를 어디로 보낼지 결정-->
<form action="/databaseproject/databaseproject/employee/save" method="post">
    아이디:<input type="text" name="id"><br>
    비밀번호:<input type="password" name="pwd"><br>
    이름:<input type="text" name="name"><br>
    주민등록번호<input type="text" name="resident"><br>
    학력<input type="text" name="education"><br>
    기술직급<input type="text" name="role"><br>
    경력<input type="text" name="career"><br>
    경력등급<input type="text" name="'rank"><br>
    경영권한유무<input type="text"name="boolManage"><br>
    <input type="submit" value="회원가입">
</form>

</body>
</html>